{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"> 1%"
					]
				}
			}
		],
		"react"
	],
	"plugins": [
		[
			"transform-runtime",
			{
				"regenerator": true
			}
		],
		[
			"transform-object-rest-spread",
			{
				"useBuiltIns": true
			}
		],
		"transform-function-bind",
		"transform-class-properties"
	]
}